h1, h2, h3, h4, h5, h6 {
    margin: 10px 0 2px;
}
p {
    font-size: 12px;
}
#Archon h2 {
    font-size: 18px;
    color: #222222;
    font-weight: normal;
    margin: 0;
    padding: 5px 0 8px;
}
#Archon h1 {
    font-size: 22px;
    color: #222;
    font-weight: normal;
    margin: 10px 0;
}
#Archon h3 {
    font-size: 13px;
    color: #5b5b5b;
    font-weight:bold;
    margin: 0;
}
dt {
    width: 85px;
    float: left;
}
dd {
    margin-left: 90px;
}
.padded {
    padding: 15px;
}
table {
    width: 100%;
    border: 1px solid #ebebeb;
}
table td {
    padding: 12px 11px;
    border-right: 1px solid #ebebeb;
}
input[disabled="disabled"] {
    color: #AAA;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
input[type="text"], input[type="number"], input[type="email"] {
    border: 2px solid #d9d9d9;
    padding: 5px;
    width: 100%;
    border-radius: 0!important;
}

/*#AZ added below class*/
input[type="text"].Search {
    border: 2px solid #d9d9d9;
    padding: 5px;
    width: 80%;
    border-radius: 0 !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
label.option {
    display: block; /* makes text input full width */
}
.list ul {
    border-right: thin solid #D7D7D7;
    border-left: thin solid #D7D7D7;
    border-bottom: thin solid #D7D7D7;
    padding-bottom: 10px;
}
li.option {
    position: relative;
    display: block;
    padding: 18px 0px 2px 50px;
    font-size: 11px;
    color: #5b5b5b;
}
li.option .icon {
    position: absolute;
    top: 0;
    left: 0;
} 
li.option .item-descriptor {

}
li.option .item-selection {
    font-weight: bold;
}
li.option .icon img {
    height: 25px;
    margin-top: 20px;
    margin-left: 15px;
}
li.option .icon {
    position: absolute;
    top: 0;
    height: 100%;
}
.tab-item {
    display:block;
    text-align: center;
    padding: 2px 0;
    font-size: 11px;
    color: #13a4de;
    box-sizing:border-box;
    line-height: 0.8;
}
.tab-item.last {
    border:none;
}
.tab-item.active {
    font-weight:bold;
    color: #404040;
}
.tab-item-container {
    border-bottom: #D7D7D7 1px solid;
    cursor: pointer; 
    padding: 6px 0;
    margin:0;
    margin-bottom: -1px;
}
.tab-item-container.active {
    border: 1px solid #D7D7D7;
    border-bottom:none;
}
span.tab-item-container:hover {
    color: #555;
    background: #f1f1f1;
    text-decoration: none;
}


li.address {
    font-size: 14px;
    color: #222;
    padding: 20px 0;
    border-top: 1px solid #d7d7d7;
    display: table;
}
li.address.last {
    border-bottom: 1px solid #d7d7d7;
}

li.address .item-group {
    margin-bottom: 12px;
}

.pointer {
    cursor: pointer;
}
.more-info {
    display: block;
    overflow: hidden;
    font-size: 12px;
    transition: all 0.2s;
}
.more-info .heading {
    font-weight: bold;
    font-size: 12px;
}

.anchored-footer {
    margin-bottom: 20px;
    /*position:fixed;
    bottom: 0;*/
}


.has-header {
    margin-bottom: 60px;
}
.clickable:hover {
    background: #eeeeee;
}
.col-50 {
    width: 50%;
}
.col-25 {
    float:left;
    width: 25%;
}
.checkbox {
    margin: 0;
    padding: 10px;
    padding-left: 20px;
}
.data-loading, .data-loading span.price {
    color: gray!important;
}
.form-group {
    margin: 12px 0;
}
.form-group input.form-control {
    color: #333;
}
.full-width {
    margin: 0 -20px;
}
.listItem {
    padding: 10px 5px 10px 12px;
    border-bottom:1px solid #ebebeb;
    cursor: pointer;
    background: #ffffff;
}
.listItemSeparator {
    border-top: 1px solid #ebebeb;
    margin-left: -12px;
}
.listItem h2 {
    margin: 1px 0 4px;
}

.item.item-input .input-group-addon {
    cursor: pointer;
    /*background: #333;
    color: #fff;
    border-color: #111;
        */
}

.esitmated-total {
    font-size: 12px;
}
.price {
    color: #D73000!important;
    font-weight: bold!important;
}
.option-btn {
    cursor: pointer;
    text-align: center;
    padding: 5px 0;
    border: 1px solid #ddd;
    border-left:none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.option-btn:first-child {
    border-left: 1px solid #ddd;
}
.option-btn-active {
    background: #387ef5;
}
.ng-hide {
    display:none;
}

.fades {
    transition: opacity 0.3s;
}
.ghost {
    visibility: visible;
    opacity: 0;
}

.form-split {
    margin-bottom: 5px;
}
.screen {
    width:300px;
    padding: 0 20px;
    float:left;
    display: block;
    box-sizing: border-box;
}
.screen.padded {
    margin-top:20px;
}


.btn {
    text-transform: uppercase;
    border-radius: 0!important;
    line-height: 119%;
}
.terms-conditions {
    font-size: 12px;
}

button.btn-action {
    height: 40px;
    width: 110px;
    box-sizing: border-box;
    margin-left: 5px;
}
button.btn-staples {
    background: #CB1B02;
    color: white;
    padding: 6px 6px;
}
button.btn.btn-staples:hover {
    color: #eee;
}
button.btn-grey {
    background: #888;
    color:white;
}
button[disabled="true"] {
    border-color: #b2b2b2;
    background-color: #f8f8f8;
    color: #e8e8e8;
}
button.btn-quantity {
    height: 28px;
    background-color: #F3F3F3;
    border: thin solid #D9D9D9;
    padding: 2px 14px;
    box-sizing: border-box;
}

button#back-btn {
    position:absolute;
    vertical-align: top;
    display: inline-block;
    background: #f0f0f0;
    border:none;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    cursor: pointer;
    opacity: 0.5;
}
button#back-btn:hover {
    opacity: 1;
    background: #fcfcfc;
}
button#back-btn img {
    position: absolute;
    top: 7px;
    left: 5px;
}

#detailsMap {
    height: 180px;
}
#header {
    padding: 20px 20px 0;
}
.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: background-color 0.2s;
}
.dark-backdrop {
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: background-color 0.2s;
}
.overlay-message {
    margin: 30px;
}

#loadSpinner {
    position: relative;
    top: 40%;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    opacity: 1;
}
#header img {
    margin-bottom: 20px; 
}
.backdrop .inner {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    color: #222;
    top: 25%;
    left: 10px;
    right: 10px;
    min-height: 205px;
}
.backdrop .inner h4 {
    text-align: center;
}
.backdrop .inner p {
    width: 100%;
    padding: 30px 35px;  
    font-size: 14px;
    line-height: 115%;
    margin: 0;
}

.backdrop .inner .button-set {
    margin: 0 auto;   
    margin-bottom: 30px;
    width: 100%;
    bottom: 0;
    text-align: center;

}

#optionsSelection {
    margin-bottom: 30px;
}
#orderInfo span.footnote {
    font-size: 11px;
    color: #555;
}

#quantity {
    cursor:text;
    border: 2px solid #494949;
    width: 50px;
    display: inline-block;
    text-align: center;
    height: 28px;
    line-height:0;
}
#screenContainer {
    -webkit-transition:margin-left 0.5s;
    transition:margin-left 0.5s;
    width:3000px;
    margin-bottom: 45px;
}
#Archon {
    width: 300px;
    overflow: hidden;
    /*
        border-right: 1px solid #555;

    */
}
#ArchonOutput {
    float:left;
}
#branding {
    background-color: #CC0001;
    position: fixed;
    bottom: 0;
    height: 35px;
    width: 100%;
    padding: 8px 0;
    text-align:center;
}
#branding img {
    height: 12px;
}