<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="TemplateVersion" value="19" />
    <add key="EmergencyTakedown" value="false" />
    <add key="Environment" value="stg" />
    <add key="ApiKey" value="5CDB3608BCDC46079EE0E7E61F27BE32" />
    <add key="ApiUrl" value="https://api-sandbox.pnistaging.com/rest/v1/" />
    <add key="RecommendationServiceUrl" value="https://api-sandbox.pnistaging.com/RecommendationService/ProductSize/SPLUS" />
    <add key="UpperLimit" value="0.1" />
    <add key="LowerLimit" value="1.0" />
    <add key="ProductId" value="HWfDzOLyaVBWsY13bV3bpA--" />
    <add key="GeocodeUrl" value="https://maps.googleapis.com/maps/api/geocode/json?address=" />
    <add key="GeocodeApiKey" value="" />
    <add key="AppName" value="Office365" />
    <add key="AppContextId" value="2000003760" />
    <add key="RetailerCode" value="SPLUS" />
    <add key="RetailerId" value="50" />
    <add key="BaseScriptsDirectory" value="App/scripts/Archon/" />
    <add key="MapUrl" value="https://dev.virtualearth.net/REST/v1/Imagery/Map/AerialWithLabels/" />
    <add key="MapApiKey" value="AvPSpDblsmxwOJtfi9TmeQ5AaLqEKnnnhprqrDfjRnIHy8LRk6ECcVGdYmdJxqCh" />
    <add key="MapWidth" value="263" />
    <add key="MapHeight" value="80" />
    <add key="MapZoomLevel" value="15" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"></customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>